alembic
blinker
chardet
click
Flask
gunicorn
pandas
requests
scikit-learn
scipy
joblib
Flask-Dance
Flask-DebugToolbar
Flask-Login
Flask-Migrate
Flask-OAuth
Flask-OAuthlib
Flask-SQLAlchemy
Flask-WTF==0.14.3
httplib2
idna
itsdangerous
Jinja2
lazy
Mako
MarkupSafe
oauth2
oauthlib
python-dateutil
python-editor
requests-oauthlib
six
SQLAlchemy
SQLAlchemy-Utils
urllib3
URLObject
Werkzeug==0.16.1
wincertstore
WTForms
flask_bootstrap
spacy
pytesseract
opencv-python
flask-nav
flask-debug
flask-appconfig>=0.10
joblib