{% extends "nav.html" %}
{% block content %}
<div class='container'>
    <h2>Document Retrieval Demo</h2>
    <p>Finding the correct document that relates to the request is like finding a needle in a haystack. <br>
    </p>
    <em>Coming soon</em> <br>
    <br>
    Proposed methodology:
    <ol>
        <li>Gather documents</li>
        <li>Perform OCR (must be able to accept multiple formats: PDF, scanned PDF, TIFF, JPEG, etc.</li>
        <li>Compare OCR to query (ATIP request in this case)</li>
        <ul><li>
            Document vs document
        </li>
        <li>Sentence by sentence (displaying with a histogram, perhaps?)</li>
        <li>Could also use an unsupervised model (LDA)</li></ul>
        <li>Rank documents</li>
    </ol>
    Much of this is applicable to other contexts, such as discovery in a legal setting
    

</div>
{% endblock %}