{% extends "nav.html" %}
{% block content %}
    
    <div class=container>
        <h2>ATIP AI Demo</h2>
        <p>This is a demo of some of the features that have been developped in the ATIP context. <br>
        Use the navigation bar above to see the various features on display.
        </p>
        <ul>
            <li><a href="{{url_for('triage')}}">Triage</a></li>
            <li><a href="{{url_for('doc_ret')}}">Document Retrieval</a></li>
            <li><a href="{{url_for('redact')}}">Document Redaction</a></li>
        </ul>
        <hr>
        <ul>
            <li><a href="{{url_for('links')}}">Links</a></li>
            <li><a href="{{url_for('todo')}}">To-Do List</a></li>
        </ul>
        <br>
        This front end demo and the AI models have been put together by <a href="https://github.com/dorealex/">Alex Dore</a> as part of the CSPS Digital Academy Premium Cohort #2.
    </div>
{% endblock %}