{% extends "nav.html" %}
{% set active_page = "links" %}
{% block content %}
<div class='container'>
    <h2>Links</h2>
    <ul>
        <li><a href="http://atipoftheiceberg.com/">atipoftheiceberg.com</a> - This website was created during the Canadian School of Plubic Service Digital Academy Premium Cohort 2. It can track, assign, and triage requests</li>
        <li><a href="https://colab.research.google.com/drive/1zdn512if6NgA1PCyY5gqyf-GlkUskvPK">Triage Tool Output</a> - Google Colab notebook showing early outputs of the triage tool</li>
        <li><a href="https://github.com/dorealex/ATIP-triage-alldept">Github</a> - Code repository</li>
    </ul>
</div>
{% endblock %}