{% extends "nav.html" %}
{% block content %}
<div class='container'>


<h3>To-do:</h3>
    <ul>
        <li>Triage</li>
        <ul>
            <li>Train multi class model for Departmental Triage - Done</li>
            <li>Train multi label  for Sector Triage - Done</li>
            <li>Publish to web API - Done</li>
            <li>Create Demo app - In-Progress</li>
        </ul>

        <li>Retrieve</li>
            <ul>
                <li>Proof of concept - In-Progress</li>
                <li>Prototype</li>
                <li>Front End</li>
            </ul>
        <li>Redact</li>
            <ul>
                <li>Proof of concept - In-Progress</li>
                <li>Prototype</li>
                <li>Front End</li>
            </ul>
        <li>General</li>
            <ul>
                <li>Front End - In-Progress</li>
                <li>Navigation for Front End</li>
            </ul>
    </ul>
</div>
    {% endblock %}