{% extends "nav.html" %}
{% block content %}
<div class='container'>
    <h2>ATIP Triage Demo</h2>
    <form method="POST">

        <div class='form-group'>
            {{ form.hidden_tag() }}
            {{ form.req_text.label(class_="form-text text-muted") }} {{ form.req_text(class_="form-control") }}
            <br>
            {{ form.req_type.label(class_="form-text text-muted") }} {{ form.req_type(class_="form-control") }}
            <br>
            {{ form.submit(class_="btn btn-primary") }}

        </div>
        <div class="output_nice">

        </div>
    </form>
    <div>
        <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Raw Input/Output
        </button>
        <div class="collapse.show" id="collapseExample">
            <div class="card card-body">
                {% if output %}
                Your raw input:
                {{ output[0] }}
                <br>
                Raw output:
                {{ output[1] }}
                {% endif %}
            </div>
          </div>

    </div>
    <div>
        <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapseReport" aria-expanded="false" aria-controls="collapseReport">
            Classification Report
        </button>
        <div class="collapse" id="collapseReport">
            <div class="card card-body">
                The following is the classification report from the trained model on June 23rd 2020. For the departments which have many ATIP requests, the triage model performs moderately well. Further processing of the raw text should improve these figures.
                <table border="1" class="dataframe">
                    <thead>
                      <tr style="text-align: right;">
                        <th>Department</th>
                        <th>precision</th>
                        <th>recall</th>
                        <th>f1-score</th>
                        <th>support</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>aafc-aac</th>
                        <td>0.456522</td>
                        <td>0.411765</td>
                        <td>0.432990</td>
                        <td>51.000000</td>
                      </tr>
                      <tr>
                        <th>aandc-aadnc</th>
                        <td>0.465517</td>
                        <td>0.293478</td>
                        <td>0.360000</td>
                        <td>92.000000</td>
                      </tr>
                      <tr>
                        <th>acoa-apeca</th>
                        <td>0.612903</td>
                        <td>0.575758</td>
                        <td>0.593750</td>
                        <td>33.000000</td>
                      </tr>
                      <tr>
                        <th>aecl-eacl</th>
                        <td>0.875000</td>
                        <td>0.777778</td>
                        <td>0.823529</td>
                        <td>9.000000</td>
                      </tr>
                      <tr>
                        <th>atssc-scdata</th>
                        <td>0.833333</td>
                        <td>0.500000</td>
                        <td>0.625000</td>
                        <td>10.000000</td>
                      </tr>
                      <tr>
                        <th>bdc</th>
                        <td>1.000000</td>
                        <td>0.833333</td>
                        <td>0.909091</td>
                        <td>6.000000</td>
                      </tr>
                      <tr>
                        <th>cannor</th>
                        <td>1.000000</td>
                        <td>0.250000</td>
                        <td>0.400000</td>
                        <td>4.000000</td>
                      </tr>
                      <tr>
                        <th>catsa-acsta</th>
                        <td>1.000000</td>
                        <td>0.333333</td>
                        <td>0.500000</td>
                        <td>6.000000</td>
                      </tr>
                      <tr>
                        <th>cbsa-asfc</th>
                        <td>0.757353</td>
                        <td>0.837398</td>
                        <td>0.795367</td>
                        <td>246.000000</td>
                      </tr>
                      <tr>
                        <th>cca-cac</th>
                        <td>0.000000</td>
                        <td>0.000000</td>
                        <td>0.000000</td>
                        <td>5.000000</td>
                      </tr>
                      <tr>
                        <th>ccc</th>
                        <td>0.909091</td>
                        <td>0.833333</td>
                        <td>0.869565</td>
                        <td>12.000000</td>
                      </tr>
                      <tr>
                        <th>ccohs-cchst</th>
                        <td>0.000000</td>
                        <td>0.000000</td>
                        <td>0.000000</td>
                        <td>1.000000</td>
                      </tr>
                      <tr>
                        <th>cdev</th>
                        <td>0.000000</td>
                        <td>0.000000</td>
                        <td>0.000000</td>
                        <td>4.000000</td>
                      </tr>
                      <tr>
                        <th>cdic-sadc</th>
                        <td>0.000000</td>
                        <td>0.000000</td>
                        <td>0.000000</td>
                        <td>1.000000</td>
                      </tr>
                      <tr>
                        <th>ced-dec</th>
                        <td>0.625000</td>
                        <td>0.500000</td>
                        <td>0.555556</td>
                        <td>10.000000</td>
                      </tr>
                      <tr>
                        <th>cer-rec</th>
                        <td>1.000000</td>
                        <td>0.400000</td>
                        <td>0.571429</td>
                        <td>10.000000</td>
                      </tr>
                      <tr>
                        <th>cfia-acia</th>
                        <td>0.740157</td>
                        <td>0.717557</td>
                        <td>0.728682</td>
                        <td>131.000000</td>
                      </tr>
                      <tr>
                        <th>chrc-ccdp</th>
                        <td>0.666667</td>
                        <td>0.666667</td>
                        <td>0.666667</td>
                        <td>3.000000</td>
                      </tr>
                      <tr>
                        <th>cib-bic</th>
                        <td>0.444444</td>
                        <td>0.444444</td>
                        <td>0.444444</td>
                        <td>9.000000</td>
                      </tr>
                      <tr>
                        <th>cic</th>
                        <td>0.850163</td>
                        <td>0.895369</td>
                        <td>0.872180</td>
                        <td>583.000000</td>
                      </tr>
                      <tr>
                        <th>cihr-irsc</th>
                        <td>1.000000</td>
                        <td>0.500000</td>
                        <td>0.666667</td>
                        <td>6.000000</td>
                      </tr>
                      <tr>
                        <th>cmhc-schl</th>
                        <td>1.000000</td>
                        <td>0.392857</td>
                        <td>0.564103</td>
                        <td>28.000000</td>
                      </tr>
                      <tr>
                        <th>cnlopb</th>
                        <td>0.666667</td>
                        <td>0.666667</td>
                        <td>0.666667</td>
                        <td>3.000000</td>
                      </tr>
                      <tr>
                        <th>cnsc-ccsn</th>
                        <td>0.894231</td>
                        <td>0.845455</td>
                        <td>0.869159</td>
                        <td>110.000000</td>
                      </tr>
                      <tr>
                        <th>cpc-cpp</th>
                        <td>1.000000</td>
                        <td>0.363636</td>
                        <td>0.533333</td>
                        <td>11.000000</td>
                      </tr>
                      <tr>
                        <th>cpc-scp</th>
                        <td>0.875000</td>
                        <td>0.368421</td>
                        <td>0.518519</td>
                        <td>19.000000</td>
                      </tr>
                      <tr>
                        <th>cra-arc</th>
                        <td>0.795833</td>
                        <td>0.779592</td>
                        <td>0.787629</td>
                        <td>245.000000</td>
                      </tr>
                      <tr>
                        <th>crtc</th>
                        <td>0.600000</td>
                        <td>0.300000</td>
                        <td>0.400000</td>
                        <td>10.000000</td>
                      </tr>
                      <tr>
                        <th>csa-asc</th>
                        <td>0.692308</td>
                        <td>0.473684</td>
                        <td>0.562500</td>
                        <td>19.000000</td>
                      </tr>
                      <tr>
                        <th>csc-scc</th>
                        <td>0.826389</td>
                        <td>0.767742</td>
                        <td>0.795987</td>
                        <td>155.000000</td>
                      </tr>
                      <tr>
                        <th>csec-cstc</th>
                        <td>0.952381</td>
                        <td>0.645161</td>
                        <td>0.769231</td>
                        <td>31.000000</td>
                      </tr>
                      <tr>
                        <th>csis-scrs</th>
                        <td>0.803922</td>
                        <td>0.683333</td>
                        <td>0.738739</td>
                        <td>60.000000</td>
                      </tr>
                      <tr>
                        <th>csps-efpc</th>
                        <td>0.333333</td>
                        <td>0.100000</td>
                        <td>0.153846</td>
                        <td>10.000000</td>
                      </tr>
                      <tr>
                        <th>cta-otc</th>
                        <td>0.000000</td>
                        <td>0.000000</td>
                        <td>0.000000</td>
                        <td>11.000000</td>
                      </tr>
                      <tr>
                        <th>dcc-cdc</th>
                        <td>1.000000</td>
                        <td>0.142857</td>
                        <td>0.250000</td>
                        <td>7.000000</td>
                      </tr>
                      <tr>
                        <th>dfatd-maecd</th>
                        <td>0.701169</td>
                        <td>0.762250</td>
                        <td>0.730435</td>
                        <td>551.000000</td>
                      </tr>
                      <tr>
                        <th>dfo-mpo</th>
                        <td>0.690909</td>
                        <td>0.766129</td>
                        <td>0.726577</td>
                        <td>248.000000</td>
                      </tr>
                      <tr>
                        <th>dnd-mdn</th>
                        <td>0.682692</td>
                        <td>0.766187</td>
                        <td>0.722034</td>
                        <td>278.000000</td>
                      </tr>
                      <tr>
                        <th>ec</th>
                        <td>0.657277</td>
                        <td>0.843373</td>
                        <td>0.738786</td>
                        <td>166.000000</td>
                      </tr>
                      <tr>
                        <th>edc</th>
                        <td>0.818182</td>
                        <td>0.750000</td>
                        <td>0.782609</td>
                        <td>12.000000</td>
                      </tr>
                      <tr>
                        <th>elections</th>
                        <td>0.631579</td>
                        <td>0.705882</td>
                        <td>0.666667</td>
                        <td>34.000000</td>
                      </tr>
                      <tr>
                        <th>esdc-edsc</th>
                        <td>0.870000</td>
                        <td>0.887755</td>
                        <td>0.878788</td>
                        <td>294.000000</td>
                      </tr>
                      <tr>
                        <th>fcac-acfc</th>
                        <td>0.500000</td>
                        <td>0.333333</td>
                        <td>0.400000</td>
                        <td>3.000000</td>
                      </tr>
                      <tr>
                        <th>feddevontario</th>
                        <td>0.138889</td>
                        <td>0.333333</td>
                        <td>0.196078</td>
                        <td>15.000000</td>
                      </tr>
                      <tr>
                        <th>fin</th>
                        <td>0.626911</td>
                        <td>0.625000</td>
                        <td>0.625954</td>
                        <td>328.000000</td>
                      </tr>
                      <tr>
                        <th>fintrac-canafe</th>
                        <td>0.916667</td>
                        <td>0.523810</td>
                        <td>0.666667</td>
                        <td>21.000000</td>
                      </tr>
                      <tr>
                        <th>fntc-cfpn</th>
                        <td>0.000000</td>
                        <td>0.000000</td>
                        <td>0.000000</td>
                        <td>1.000000</td>
                      </tr>
                      <tr>
                        <th>fpcc-cpac</th>
                        <td>0.000000</td>
                        <td>0.000000</td>
                        <td>0.000000</td>
                        <td>1.000000</td>
                      </tr>
                      <tr>
                        <th>glpa-apgl</th>
                        <td>0.000000</td>
                        <td>0.000000</td>
                        <td>0.000000</td>
                        <td>1.000000</td>
                      </tr>
                      <tr>
                        <th>hc-sc</th>
                        <td>0.814539</td>
                        <td>0.911366</td>
                        <td>0.860236</td>
                        <td>959.000000</td>
                      </tr>
                      <tr>
                        <th>iaac-aeic</th>
                        <td>0.300000</td>
                        <td>0.428571</td>
                        <td>0.352941</td>
                        <td>14.000000</td>
                      </tr>
                      <tr>
                        <th>ic</th>
                        <td>0.802151</td>
                        <td>0.778706</td>
                        <td>0.790254</td>
                        <td>479.000000</td>
                      </tr>
                      <tr>
                        <th>infc</th>
                        <td>0.622951</td>
                        <td>0.513514</td>
                        <td>0.562963</td>
                        <td>74.000000</td>
                      </tr>
                      <tr>
                        <th>innovation</th>
                        <td>1.000000</td>
                        <td>1.000000</td>
                        <td>1.000000</td>
                        <td>4.000000</td>
                      </tr>
                      <tr>
                        <th>irb-cisr</th>
                        <td>0.970588</td>
                        <td>0.717391</td>
                        <td>0.825000</td>
                        <td>46.000000</td>
                      </tr>
                      <tr>
                        <th>isc-sac</th>
                        <td>0.567010</td>
                        <td>0.504587</td>
                        <td>0.533981</td>
                        <td>109.000000</td>
                      </tr>
                      <tr>
                        <th>jccbi-pjcci</th>
                        <td>0.000000</td>
                        <td>0.000000</td>
                        <td>0.000000</td>
                        <td>1.000000</td>
                      </tr>
                      <tr>
                        <th>jus</th>
                        <td>0.701493</td>
                        <td>0.793919</td>
                        <td>0.744849</td>
                        <td>296.000000</td>
                      </tr>
                      <tr>
                        <th>lac-bac</th>
                        <td>0.858757</td>
                        <td>0.871060</td>
                        <td>0.864865</td>
                        <td>349.000000</td>
                      </tr>
                      <tr>
                        <th>mpcc-cppm</th>
                        <td>0.461538</td>
                        <td>0.857143</td>
                        <td>0.600000</td>
                        <td>7.000000</td>
                      </tr>
                      <tr>
                        <th>ncc-ccn</th>
                        <td>0.709677</td>
                        <td>0.758621</td>
                        <td>0.733333</td>
                        <td>29.000000</td>
                      </tr>
                      <tr>
                        <th>nfb-onf</th>
                        <td>0.571429</td>
                        <td>0.571429</td>
                        <td>0.571429</td>
                        <td>7.000000</td>
                      </tr>
                      <tr>
                        <th>ngc-mbac</th>
                        <td>0.000000</td>
                        <td>0.000000</td>
                        <td>0.000000</td>
                        <td>4.000000</td>
                      </tr>
                      <tr>
                        <th>nrc-cnrc</th>
                        <td>0.500000</td>
                        <td>0.500000</td>
                        <td>0.500000</td>
                        <td>12.000000</td>
                      </tr>
                      <tr>
                        <th>nrcan-rncan</th>
                        <td>0.715385</td>
                        <td>0.553571</td>
                        <td>0.624161</td>
                        <td>168.000000</td>
                      </tr>
                      <tr>
                        <th>nserc-crsng</th>
                        <td>0.777778</td>
                        <td>0.875000</td>
                        <td>0.823529</td>
                        <td>8.000000</td>
                      </tr>
                      <tr>
                        <th>oci-bec</th>
                        <td>0.714286</td>
                        <td>0.833333</td>
                        <td>0.769231</td>
                        <td>6.000000</td>
                      </tr>
                      <tr>
                        <th>ocl-cal</th>
                        <td>0.000000</td>
                        <td>0.000000</td>
                        <td>0.000000</td>
                        <td>4.000000</td>
                      </tr>
                      <tr>
                        <th>ocol-clo</th>
                        <td>0.400000</td>
                        <td>0.250000</td>
                        <td>0.307692</td>
                        <td>8.000000</td>
                      </tr>
                      <tr>
                        <th>oic-ci</th>
                        <td>0.066667</td>
                        <td>0.200000</td>
                        <td>0.100000</td>
                        <td>5.000000</td>
                      </tr>
                      <tr>
                        <th>opc-cpvp</th>
                        <td>0.894737</td>
                        <td>0.607143</td>
                        <td>0.723404</td>
                        <td>28.000000</td>
                      </tr>
                      <tr>
                        <th>osfi-bsif</th>
                        <td>0.600000</td>
                        <td>0.333333</td>
                        <td>0.428571</td>
                        <td>27.000000</td>
                      </tr>
                      <tr>
                        <th>ovo-bov</th>
                        <td>0.000000</td>
                        <td>0.000000</td>
                        <td>0.000000</td>
                        <td>3.000000</td>
                      </tr>
                      <tr>
                        <th>pbc-clcc</th>
                        <td>1.000000</td>
                        <td>0.125000</td>
                        <td>0.222222</td>
                        <td>8.000000</td>
                      </tr>
                      <tr>
                        <th>pc</th>
                        <td>0.861538</td>
                        <td>0.888889</td>
                        <td>0.875000</td>
                        <td>63.000000</td>
                      </tr>
                      <tr>
                        <th>pch</th>
                        <td>0.735974</td>
                        <td>0.763699</td>
                        <td>0.749580</td>
                        <td>292.000000</td>
                      </tr>
                      <tr>
                        <th>pco-bcp</th>
                        <td>0.701342</td>
                        <td>0.710884</td>
                        <td>0.706081</td>
                        <td>294.000000</td>
                      </tr>
                      <tr>
                        <th>phac-aspc</th>
                        <td>0.647059</td>
                        <td>0.224490</td>
                        <td>0.333333</td>
                        <td>49.000000</td>
                      </tr>
                      <tr>
                        <th>pmprb-cepmb</th>
                        <td>0.000000</td>
                        <td>0.000000</td>
                        <td>0.000000</td>
                        <td>1.000000</td>
                      </tr>
                      <tr>
                        <th>ppsc-sppc</th>
                        <td>0.578947</td>
                        <td>0.578947</td>
                        <td>0.578947</td>
                        <td>19.000000</td>
                      </tr>
                      <tr>
                        <th>ps-sp</th>
                        <td>0.737624</td>
                        <td>0.642241</td>
                        <td>0.686636</td>
                        <td>232.000000</td>
                      </tr>
                      <tr>
                        <th>psc-cfp</th>
                        <td>0.700000</td>
                        <td>0.333333</td>
                        <td>0.451613</td>
                        <td>21.000000</td>
                      </tr>
                      <tr>
                        <th>psic-ispc</th>
                        <td>0.000000</td>
                        <td>0.000000</td>
                        <td>0.000000</td>
                        <td>1.000000</td>
                      </tr>
                      <tr>
                        <th>pspib-oirpsp</th>
                        <td>1.000000</td>
                        <td>1.000000</td>
                        <td>1.000000</td>
                        <td>2.000000</td>
                      </tr>
                      <tr>
                        <th>pwgsc-tpsgc</th>
                        <td>0.691610</td>
                        <td>0.754950</td>
                        <td>0.721893</td>
                        <td>404.000000</td>
                      </tr>
                      <tr>
                        <th>rcmp-grc</th>
                        <td>0.669291</td>
                        <td>0.752212</td>
                        <td>0.708333</td>
                        <td>226.000000</td>
                      </tr>
                      <tr>
                        <th>sdtc-tddc</th>
                        <td>0.500000</td>
                        <td>0.200000</td>
                        <td>0.285714</td>
                        <td>5.000000</td>
                      </tr>
                      <tr>
                        <th>ssc-spc</th>
                        <td>0.648936</td>
                        <td>0.635417</td>
                        <td>0.642105</td>
                        <td>96.000000</td>
                      </tr>
                      <tr>
                        <th>sshrc-crsh</th>
                        <td>0.454545</td>
                        <td>0.294118</td>
                        <td>0.357143</td>
                        <td>17.000000</td>
                      </tr>
                      <tr>
                        <th>statcan</th>
                        <td>0.476190</td>
                        <td>0.243902</td>
                        <td>0.322581</td>
                        <td>41.000000</td>
                      </tr>
                      <tr>
                        <th>swc-cfc</th>
                        <td>0.000000</td>
                        <td>0.000000</td>
                        <td>0.000000</td>
                        <td>4.000000</td>
                      </tr>
                      <tr>
                        <th>tbs-sct</th>
                        <td>0.606557</td>
                        <td>0.555000</td>
                        <td>0.579634</td>
                        <td>200.000000</td>
                      </tr>
                      <tr>
                        <th>tc</th>
                        <td>0.728033</td>
                        <td>0.687747</td>
                        <td>0.707317</td>
                        <td>253.000000</td>
                      </tr>
                      <tr>
                        <th>tpa-apt</th>
                        <td>0.000000</td>
                        <td>0.000000</td>
                        <td>0.000000</td>
                        <td>1.000000</td>
                      </tr>
                      <tr>
                        <th>tsb-bst</th>
                        <td>0.636364</td>
                        <td>0.280000</td>
                        <td>0.388889</td>
                        <td>25.000000</td>
                      </tr>
                      <tr>
                        <th>vac-acc</th>
                        <td>0.781250</td>
                        <td>0.641026</td>
                        <td>0.704225</td>
                        <td>78.000000</td>
                      </tr>
                      <tr>
                        <th>vfpa-apvf</th>
                        <td>0.857143</td>
                        <td>0.400000</td>
                        <td>0.545455</td>
                        <td>15.000000</td>
                      </tr>
                      <tr>
                        <th>viarail</th>
                        <td>0.769231</td>
                        <td>0.625000</td>
                        <td>0.689655</td>
                        <td>16.000000</td>
                      </tr>
                      <tr>
                        <th>vrab-tacra</th>
                        <td>1.000000</td>
                        <td>1.000000</td>
                        <td>1.000000</td>
                        <td>1.000000</td>
                      </tr>
                      <tr>
                        <th>wage</th>
                        <td>0.937500</td>
                        <td>0.833333</td>
                        <td>0.882353</td>
                        <td>18.000000</td>
                      </tr>
                      <tr>
                        <th>wd-deo</th>
                        <td>0.000000</td>
                        <td>0.000000</td>
                        <td>0.000000</td>
                        <td>3.000000</td>
                      </tr>
                      <tr>
                        <th>accuracy</th>
                        <td>0.739369</td>
                        <td>0.739369</td>
                        <td>0.739369</td>
                        <td>0.739369</td>
                      </tr>
                      <tr>
                        <th>macro avg</th>
                        <td>0.600778</td>
                        <td>0.491342</td>
                        <td>0.518954</td>
                        <td>8936.000000</td>
                      </tr>
                      <tr>
                        <th>weighted avg</th>
                        <td>0.738566</td>
                        <td>0.739369</td>
                        <td>0.733149</td>
                        <td>8936.000000</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
    </div>
    <hr>
    <h3>More information</h3>
    <div>
        <h4>Triage: How to send requests:</h4>
        <p>Users can send requests to the API from anywhere. Send POST requests to <a href="https://atip-triage-alldept.herokuapp.com/request/">https://atip-triage-alldept.herokuapp.com/request/</a>.<br>
        The response will be in the form: <strong>{'dept': 'result','pct': 0.XX}</strong> where result is the abbreviation and pct is the percentage. The request format is as follows: <strong>{'text':'insert request text here'}</strong> <br>
        The user can also specify what they want by adding:
        <ul>
            <li>'what':'dept-only' will respond only with the top department and the percentage. Will not chain(see below) </li>
            <li>'what':'prob_dept' will respond with a dict of all the departments who are above 0% in probabilities</li>
            <li>'what':'ised_sector' will respond with a dict of all the ised sectors and the %</li>
            <li>Not providing a specifier will provide the department, the percentage, and if the department happens to be ISED, it will chain the request and also provide a dict with the sectors</li>
        </ul>
        For examples of this in use, please see <a href='https://colab.research.google.com/drive/1zdn512if6NgA1PCyY5gqyf-GlkUskvPK'>this Google Colab notebook</a>
        </p>
    </div>
</div>
{% endblock %}