<div class='container'>
    <h1>ATIP of the Iceberg AI demo</h1>
    <form action="">
        <div class='form-group'>
            <small class="form-text text-muted">Please enter the ATIP request to demo</small>
            <textarea class='form-control' id='text_val'></textarea>
            
            <br>
            <small class="form-text text-muted">Select the request type</small>
            <select class="form-control" id="req_type">
                <option>Departmental Triage</option>
                <option>ISED Sector Triage</option>
                <option>Departmental Triage with probabilities</option>
            </select>
              
              <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    <div>
        <h4>Output</h4>
    </div>
</div>